@model _14CodeFirstEF.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<ul>
    <li>@Model.EId</li>
    <li>@Model.EName</li>
    <li>@Model.EAddress</li>
    <li>@Model.ESalary</li>
</ul>