<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:orange;color:white;height:80px;width:100%">
        Header section here...
    </header>
    <main style="text-align:center;background-color:beige; color:brown">
        <div>
            @RenderBody()
        </div>
    </main>
    <footer style="background-color:greenyellow;color:blue;height:80px;width:100%">
        Footer section here...
    </footer>
</body>
</html>
